@using Microsoft.AspNetCore.Mvc.TagHelpers
@model CreateChildrenViewModel

@{
    ViewData["Title"] = "Kinderen succesvol uitgenodigd!";
}

<div class="w-full flex justify-center mt-16">
    <div class="w-full md:w-1/2 xl:w-5/12 max-w-screen-xl mx-8 mb-16">
        <h1 class="text-5xl font-semibold tracking-tight">Lekker bezig, Kerstman!</h1>
        <h3 class="text-2xl leading-10 mt-2">
            Hieronder staan alle
            <span class="font-semibold @(Model.IsNice ? "text-message-success" : "text-message-error")">
                @(Model.IsNice ? "lieve" : "stoute")
            </span> kinderen die nu in kunnen loggen om hun verlanglijstje aan u door te geven.
        </h3>
        <p class="mt-4 bg-gray-100 rounded-lg p-4">@Model.NameData</p>
        
        <h3 class="text-2xl leading-10 mt-16">Ze loggen in met het onderstaande wachtwoord</h3>
        <p class="mt-4 bg-gray-100 rounded-lg p-4 uppercase tracking-wider">@Model.Password</p>
        
        <div class="w-full border-t-2 border-black mt-16">
            <a asp-action="CreateChildren" class="btn-primary block text-center w-full md:w-3/4 lg:w-1/2 mt-8">Nodig nog meer kinderen uit!</a>
        </div>
    </div>
</div>