@using Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Santa's WishList</title>
    <link rel="stylesheet" href="~/lib/font-awesome/css/all.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SantasWishList.Web.styles.css" asp-append-version="true" />
</head>
<body>
    <main class="w-full flex flex-col min-h-screen">
        <partial name="_Navigation" />
        @RenderBody()
    </main>
    <footer class="w-full py-2 bg-black text-white text-center">
        &copy; @DateTime.Now.Year Santa's wishlist
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

