<header>
    <nav class="w-full sm:flex justify-center sm:justify-between p-4">
        <div class="flex justify-between w-full md:w-auto md:inline-block">
            @*<a class="z-40" asp-controller="Home" asp-action="Index"><img src="/images/logo.png" class="w-24" /></a>*@
            <i class="md:hidden z-40 fa-solid fa-bars text-4xl cursor-pointer" onclick="toggleNav(event)"></i>
        </div>
        <div id="navigationMenu" class="nav-mobile hidden md:inline-block">
            <form asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <input type="submit" class="nav-link cursor-pointer" value="Logout">
            </form>
        </div>
    </nav>
</header>

<script>
    function toggleNav(event) {
        navMenu = document.getElementById('navigationMenu');

        event.target.classList.toggle('fa-solid');
        event.target.classList.toggle('fa-bars');
        event.target.classList.toggle('fa-regular');
        event.target.classList.toggle('fa-circle-xmark');

        if (navMenu.classList.contains('hidden')) {
            navMenu.classList.remove('hidden');
            navMenu.classList.add('flex');
        } else {
            navMenu.classList.add('hidden');
            navMenu.classList.remove('flex');
        }
    }
</script>