@using Microsoft.AspNetCore.Identity;
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using SantasWishList.Data.Models
@using static SantasWishList.Web.Helpers.NavigationHelper;

@inject SignInManager<User> SignInManager

@{ var controller = this.ViewContext.RouteData.Values["controller"] != null ? this.ViewContext.RouteData.Values["controller"].ToString() : ""; }

@if (SignInManager.IsSignedIn(User))
{
    <header>
        <nav class="w-full sm:flex justify-center p-4">
            <div class="flex justify-between w-full md:w-1/2 xl:w-5/12 max-w-screen-xl">
                <div class="flex justify-between w-full md:w-auto md:inline-block items-center">
                    <p class="font-bold tracking-tight text-lg text-message-error">SantasWishList</p>
                    <i class="md:hidden z-40 fa-solid fa-bars text-4xl cursor-pointer" onclick="toggleNav(event)"></i>
                </div>
                <div id="navigationMenu" class="nav-mobile hidden md:inline-block">
                    @if (User.IsInRole("Santa"))
                    {
                        <a class="nav-link mr-4 @GetActiveMenuLinkCheck(controller, "WishList")" asp-controller="WishList" asp-action="CreateChildren">
                            Kinderen uitnodigen
                        </a>
                    }
                    <form class="inline-block" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                        <input type="submit" class="nav-link cursor-pointer" value="Uitloggen">
                    </form>
                </div>
            </div>
        </nav>
    </header>
}
else
{
    <header>
        <nav class="w-full flex justify-between p-4">
            @* <img src="/images/logo.png" class="w-24"/> *@
        </nav>
    </header>
}

<script>
    function toggleNav(event) {
        navMenu = document.getElementById('navigationMenu');

        event.target.classList.toggle('fa-solid');
        event.target.classList.toggle('fa-bars');
        event.target.classList.toggle('fa-regular');
        event.target.classList.toggle('fa-circle-xmark');

        if (navMenu.classList.contains('hidden')) {
            navMenu.classList.remove('hidden');
            navMenu.classList.add('flex');
        } else {
            navMenu.classList.add('hidden');
            navMenu.classList.remove('flex');
        }
    }
</script>