@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
    @apply bg-black text-white rounded-lg font-bold px-4 py-2 border border-black;
}

.btn-primary:disabled {
    @apply bg-gray-300 text-gray-400 border-gray-300;
}

.btn-primary:hover:enabled {
    @apply bg-white text-black;
}

.btn-secondary {
    @apply bg-white text-black rounded-lg font-bold px-4 py-2 border border-black;
}

.btn-secondary:hover {
    @apply bg-black text-white;
}

.input-text {
    @apply border border-gray-300 rounded-lg rounded-t-none px-4 py-2;
}

.nav-link {
    @apply mx-4 text-black text-xl;
}

.nav-link:hover {
    @apply underline;
}

.toggler {
    position: absolute;
    width: 50px;
    height: 25px;
    border-radius: .75rem;
    margin-top: 2rem;
}

.toggler:hover {
    cursor: pointer;
}

.toggler .togglerInput {
    visibility: hidden;
}

.toggler .ball {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    display: block;
    background: white;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: .2s;
}

.toggler .togglerInput:checked ~ .ball {
    transform: translateX(25px);
}

.ball {
    background: #f0ebf4;
}