<div class="w-full md:w-1/2 xl:w-5/12 max-w-screen-xl mx-8 mb-16">
    <h1 class="text-5xl font-semibold tracking-tight">Gelukt! Je verlanglijstje is succesvol verstuurd.</h1>
    <h3 class="text-2xl leading-10 mt-2">De <span class="text-message-success">Kerstman</span> gaat hier snel mee aan de slag. Je bent nu automatisch uitgelogd.</h3>

    <div class="w-full border-t-2 border-black mt-16">
        <a 
            asp-controller="Account"
            asp-action="Login"
            class="btn-secondary w-full md:w-3/4 lg:w-1/2 mt-8 inline-block text-center">
            Naar inlogpagina
        </a>
    </div>
</div>