<div class="w-full md:w-1/2 xl:w-5/12 max-w-screen-xl mx-8 mb-16">
    <h1 class="text-5xl font-semibold tracking-tight">Oh nee! Er is iets fout gegaan.</h1>
    <h3 class="text-2xl leading-10 mt-2">Je hebt je verlanglijstje veranderd op een manier die niet is toegestaan. Probeer het opnieuw.</h3>
    
    <div class="w-full border-t-2 border-black mt-16">
        <a 
            asp-action="ChildAbout"
            asp-controller="WishList"
            class="btn-primary w-full md:w-3/4 lg:w-1/2 mt-8 inline-block text-center">
            Nieuwe verlanglijst
        </a>
    </div>
</div>